<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzlCISIT_iuYcUwjRPQzWCEhn12snuBYg</string>
	<key>GCM_SENDER_ID</key>
	<string>455434773979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inoova.inoova</string>
	<key>PROJECT_ID</key>
	<string>inoova-a4e6d</string>
	<key>STORAGE_BUCKET</key>
	<string>inoova-a4e6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455434773979:ios:29f99fbbb36ce592ca33fe</string>
</dict>
</plist>